* {
    font-family: Montserrat;
    margin: 0%;
    padding: 0%;
  }

  body {
    background-color: rgb(15, 16, 16);

  }

  #intro {
    background-image: url(trek4.jpg);
    height: 110vh;
  }

  @media (min-width : 576px) {


    #intro {

      height: 750px;

    }
  }

  .divider {
    background-color: rgb(254, 250, 250);
    text-align: center;
    padding: 12%;
  }


  .con {
    text-align: right;

  }

  hr {
    margin-top: 2%;
    margin-bottom: 2%;
  }